* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.champ_choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: max-content;
}
.champ_right,
.champ_left {
  position: relative;
}
.champion_name {
  position: absolute;
  bottom: 35%;
  right: 50%;
}
.champions {
  position: relative;
}
.next {
  position: absolute;
  bottom: 20%;
  right: 50%;
}
